<div class="col l3 m6 s12">
  <div class="item">
    <a class="grownModal" href="#productModal" id="{{id}}">
      <img class="itemImage" src="images/skywalker-og.jpg" alt="itemImage">
      <div class="itemContent">
        <h5 class="itemName">{{name}}</h5>
        <p class="{{type}}" id="itemType">{{type}}</p>
    </a>
    <span class="itemQuantity">
                  <span class="quantity measurements">{{eighth}}<br>{{eighthprice}}</span>
                  <span class="quantity measurements">{{fourth}}<br>{{fourthprice}}</span>
                  <span class="quantity measurements">{{half}}<br>{{halfprice}}</span>
                  <span class="quantity measurements">{{oz}}<br>{{ozprice}}</span>
                  <span class="quantity measurements">{{one}}<br>{{oneprice}}</span>
                  <span class="quantity measurements">{{two}}<br>{{twoprice}}</span>
                  <span class="quantity" id="per">{{per}}<br>{{price}}</span>
                </span>
    <a class="addCart btn" href="#cartModal">Add to Cart</a>
  </div>
</div>