<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{> head-imports}}
</head>
<body>
{{> navbar}}

<div id="deals" class="main-content">
  <div class="carousel carousel-slider desktop" data-indicators="true">
    <a class="carousel-item" href="#banner"><img src="../images/compressed/FTP Deal Banner.jpg"></a>
    <a class="carousel-item" href="#banner"><img src="../images/compressed/Referral Program Banner.jpg"></a>
    <a class="carousel-item" href="#banner"><img src="../images/compressed/Military and Student Banner.jpg"></a>
  </div>

  <div class="carousel carousel-slider mobile" data-indicators="true">
    <a class="carousel-item" href="#banner"><img src="../images/compressed/FTP iPhone Version.jpg"></a>
    <a class="carousel-item" href="#banner"><img src="../images/compressed/Referral iPhone Version.jpg"></a>
    <a class="carousel-item" href="#banner"><img src="../images/compressed/MilitaryStudent iPhone Version.jpg"></a>
  </div>
</div>
<div id="tabs-anchor"></div>


<div id="temp-menu-tabs" class="row grey darken-4">
  <ul class="tabs">
    <li class="tab col l2 s3 grey darken-4" style="display: table;"><a href="#" id="temp" class="white-text">Temp</a>
    </li>
  </ul>
</div>

<div id="xaler-menu-tabs" class="row grey darken-4">
  <ul class="tabs" id="menu-tabs">
    {{#each menu}}
      <li class="tab col l2 s3 grey darken-4" style="display: table;" onclick="test({{{index}}});"><a href="#" id="{{type}}-label" class="white-text">{{type}}</a>
      </li>
    {{/each}}
  </ul>
</div>

<div class="center" id="menu"></div>
<div class="container" id="indexProduct">
  {{#each menu}}
    <div class="row">
      <h3 id="{{type}}" class="display-text center">{{type}}</h3>
      <h4 class="body-text center">{{description}}</h4>
      {{#each item}}
        <div class="col l4 m8 s12">
          <div class="card product" onclick="openProductModal({{id}}, event)">
            <div class="card-image">
              <img class="responsive-img {{type}}" src="{{url}}" alt="itemImage">
            </div>
            <div class="card-content item-content">
              <h5 class="product-names-text {{type}}">{{name}}</h5>
              <p id="{{id}}-{{type}}" class="strains-text {{type}}">{{type}}</p>
              <p id="description" class="description">{{description}}</p>
              <div class="item-quantity">
                {{#if eighth}}<span class="quantity measurements">{{eighth}}<br>{{eighthprice}}</span> {{/if}}
                {{#if fourth}}<span class="quantity measurements">{{fourth}}<br>{{fourthprice}}</span> {{/if}}
                {{#if half}} <span class="quantity measurements">{{half}}<br>{{halfprice}}</span> {{/if}}
                {{#if oz}} <span class="quantity measurements">{{oz}}<br>{{ozprice}}</span> {{/if}}
                {{#if one}} <span class="quantity measurements">{{one}}<br>{{oneprice}}</span> {{/if}}
                {{#if two}} <span class="quantity measurements">{{two}}<br>{{twoprice}}</span> {{/if}}
                {{#if per}} <span class="quantity" id="per">{{per}}<br>{{price}}</span> {{/if}}
              </div>
              <div class="card-action">
                <a class="add-cart-btn btn" href="#cart-modal">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

{{> product-modal}}
{{> cart-modal}}
{{> email-sub-modal}}
{{> contactus}}
{{> contact-us-modal}}
{{> footer}}
{{> scripts}}
{{> slide}}

</body>
</html>
