<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XALER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS for Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
{{> navbar}}

<!-- Carousel -->
<div id="xaler-carousel" class="carousel carousel-slider center" data-indicators="true">
  <a class="carousel-item" href="#one!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
  <a class="carousel-item" href="#two!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
  <a class="carousel-item" href="#three!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
  <a class="carousel-item" href="#four!"><img class="responsive-img" src="../images/corgi_friendler.png"></a>
</div>
<hr>
<div class="container">
  <!-- Xaler Grown -->
  <div class="row">
    <h2 class="display-text center" id="xaler-grown">XALER Grown</h2>
    {{#each grown}}
      <div class="col l3 m6 s12">
        <div class="item">
          <a class="grownModal" href="#productModal" id="{{id}}"></a>
          <img class="itemImage" src="images/skywalker-og.jpg" alt="itemImage">
          <div class="itemContent">
            <h5 class="itemName">{{name}}</h5>
            <p class="{{type}}" id="itemType">{{type}}</p>
            <span class="itemQuantity">
                  <span class="quantity measurements">{{eighth}}<br>{{eighthprice}}</span>
                  <span class="quantity measurements">{{fourth}}<br>{{fourthprice}}</span>
                  <span class="quantity measurements">{{half}}<br>{{halfprice}}</span>
                  <span class="quantity measurements">{{oz}}<br>{{ozprice}}</span>
                  <span class="quantity measurements">{{one}}<br>{{oneprice}}</span>
                  <span class="quantity measurements">{{two}}<br>{{twoprice}}</span>
                  <span class="quantity" id="per">{{per}}<br>{{price}}</span>
              </span>
            <a class="addCart btn" href="#cartModal">Add to Cart</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <!-- Menu -->
  <!--<div class="menuFormat">-->
    <!--<div class="row">-->
      <!--<h2 class="display-text center" id="xaler-menu">Menu</h2>-->
      <!--{{#each menu}}-->
        <!--<div class="col l3 m6 s12">-->
          <!--<div class="item">-->
            <!--<a class="fullModal" href="#productModal" id="{{id}}"></a>-->
            <!--<img class="itemImage" src="images/skywalker-og.jpg" alt="itemImage">-->
            <!--<div class="itemContent">-->
              <!--<h5 class="itemName">{{name}}</h5>-->
              <!--<p class="{{type}}" id="itemType">{{type}}</p>-->
              <!--<span class="itemQuantity">-->
                  <!--<span class="quantity measurements">{{eighth}}<br>{{eighthprice}}</span>-->
                  <!--<span class="quantity measurements">{{fourth}}<br>{{fourthprice}}</span>-->
                  <!--<span class="quantity measurements">{{half}}<br>{{halfprice}}</span>-->
                  <!--<span class="quantity measurements">{{oz}}<br>{{ozprice}}</span>-->
                  <!--<span class="quantity measurements">{{one}}<br>{{oneprice}}</span>-->
                  <!--<span class="quantity measurements">{{two}}<br>{{twoprice}}</span>-->
                  <!--<span class="quantity" id="per">{{per}}<br>{{price}}</span>-->
                <!--</span>-->
              <!--<a class="addCart btn" href="#cartModal">Add to Cart</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--{{/each}}-->
    <!--</div>-->
  <!--</div>-->
</div>

{{> footer}}

{{> scripts}}
</body>
</html>